#!/bin/bash

current_path="${_}"

if [[ "${BASH_SOURCE[0]}" != "" ]]; then
    current_path="${BASH_SOURCE[0]}"
fi

script_path="$(readlink -f "${current_path}")"
project_dir="$(dirname "${script_path}")"
PATH="${project_dir}/build/ext/bin:${PATH}"
export PATH
